body {
  font-family: 'Allerta', sans-serif;
  margin: 0;
}

input, textarea {
  outline: 0;
}

input:focus, textarea:focus {
  background: lightgray;
}

.contenedor {
  width: 75%;
  margin: auto;
  position: relative;
}

.portada {
  padding: 10px;
  height: auto;
  background-image: url('../images/background.png');
  background-size: cover;
}

.logotipo{
  margin-left: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: flex-end;
  align-items: center;
}

.menu li {
  display: inline-block;
  margin: 5px;
  padding: 3px;
  background:#1F313C;
}

.menu a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.resumen{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 15px;
  opacity: 0.5;
}

.titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  margin: 10px;
  color: #232324;
  padding: 8px;
}

.titulo span {
  text-decoration: underline;
}

.title-a h3{
  font-size: 20px;
  margin: 10px;
  color:#232324;
  font-style: italic;
  padding: 8px;
}

.button {
  border-radius: 12px;
  color: white;
  margin: auto;
  margin-bottom: 25px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  background: linear-gradient(to left, grey,  #1F313C);
}

.title-b {
  font-size: 30px;
  margin: 10px;
}

.services {
  color: #1F313C;
  margin-bottom: 50px;
}

.services h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}

.service {
  margin: 10px 10px 40px 10px;
  padding: 10px;
  border: 3px solid #273b47;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(145,153,144,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(145,153,144,1);
  box-shadow: 10px 10px 5px 0px rgba(145,153,144,1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.service ol {
  padding: 25px;
}

.imagServ {
  border-radius: 120px;
  border: 1px solid #273b47;
  margin-right: 20px;
}

.footer {
  background: #273b47;
  padding: 50px 10px;
}

.footerC {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacto strong {
  display: block;
}

.contacto a {
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0;
}

.formulario {
  display: flex;
  flex-flow: row wrap;
  color: white;
}

.col1, .col2 {
  display: flex;
  flex-flow: column wrap;
}

.col1 {
  margin-right: 15px;
}

.col2 .button {
  margin-top: 15px;
}

.intereses label {
  display: flex;
  flex-direction: row;
}

.intereses,.region {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.formulario label, .region, .intereses {
  margin: 5px;
}